body {
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

img {
    width: 20%;
    height: 20%;
}

.headerlogo {
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gray;
    top: 0;
}

.nav {
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

footer {
    position: fixed;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 20px; /* Height of the footer */
    background: #6cf;
}

.other-profile {
}
