* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* header {
    width: 100%;

    display: block;
         padding: 20px 5%; 
    background-color: #6cf;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
} */

.header {
    padding: 20px 10px;
    width: 100%;
    height: 3.75rem;
    display: flex;
    margin: 0 auto;
    background-color: #95a2f1;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    left: 0;
    right: 0;
    top: 0;
    min-width: 20rem;

    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

.navlink {
    text-decoration: none;
    color: ghostwhite;
    display: inline;
    margin: 0.75rem;
    white-space: nowrap;
}

.headerlogo {
    width: 50px;
    height: 50px;
}

.profilePictureWrapper {
    /*     width: 200px;
    height: 150px; */
    cursor: pointer;
}

.profilePictureWrapperheader img {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    border: 2px solid ghostwhite;
    cursor: pointer;
}
.onlinelist {
    display: flex;
    flex-direction: row;
}

.onlineUsers img {
    width: 100px;
    height: 100px;
}

.onlineUsers li {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 3rem;
    box-sizing: border-box;
}

a {
    color: #212436;
}

li {
    margin: 50px;
}

img {
    width: 20%;
    height: 20%;
}

footer {
    position: fixed;
    margin-top: 10px;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 30px;
    background-color: #4c547d;
    color: ghostwhite;
}

.chatlist {
    background: ghostwhite;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 80vh;
    overflow-x: hidden;
}
.chat img {
    max-width: 400px;
}

.chat {
    width: 30rem;
}

.deleteAccountButton {
    background-color: rgb(202, 27, 27);
}

.logout {
    background-color: #494f75;
    color: white;
    border-color: white;
}

.profile-picture {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 400px;
}

.modal {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4c547d;
    margin-top: 500px;
    position: fixed;
    padding: 2rem;
    overflow: hidden;
}

.modal img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.other-profile {
    margin-top: 5rem;
}

.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.backgroundall {
    background-color: #95a2f1;
    inset: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.register input {
    display: block;
}

.welcomebanner {
    margin-top: 5rem;
    width: 300px;
}

.login {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #95a2f1;
}

.logininstead {
    font-size: small;
}

.login input {
    display: block;
}

.login a {
    font-size: small;
}

input {
    margin-top: 0.5rem;
}

button {
    margin: 0.5rem;
    background-color: #494f75;
    color: ghostwhite;
    border-color: ghostwhite;
    cursor: pointer;
    border-radius: 6px;
}

textarea {
    height: 120px;
    max-height: 120px;
    width: 100%;
    max-width: 360px;
    resize: none;
}

button:hover {
    background-color: #212436;
}

.homecontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.bioeditortext {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.reset input {
    display: block;
}

.reset form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.find-people {
    display: flex;
    flex-direction: row;
}

.find-people li {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.find-people img {
    display: block;
    width: 100px;
    height: 100px;
}

.search-results {
    display: flex;

    flex-direction: column;
    text-align: center;
    align-items: center;
    top: 0;
    overflow: scroll;
    padding: 0 10px 10px;
    max-height: 80vh;
    overflow-x: hidden;
}

.friendscard li {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
}

.friendscard img {
    width: 100px;
    height: 100px;
}
.friendrequestname {
    display: block;
}

.friends {
    display: flex;
    flex-direction: row;
    max-height: 80vh;
}

.chatentry img {
    width: 50px;
    height: 50px;
}

.chatDate {
    font-size: small;
}
