body {
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 3rem;
    box-sizing: border-box;
}

img {
    width: 20%;
    height: 20%;
}

.headerlogo {
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gray;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.nav {
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

footer {
    position: fixed;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 20px; /* Height of the footer */
    background: #6cf;
}

.other-profile {
}

.chat {
}

.chatlist {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 80vh;
    overflow-x: hidden;
}
.chat img {
    max-width: 400px;
}

.deleteAccountButton {
    background-color: red;
}

.logout {
    background-color: rebeccapurple;
}

.modal {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dac1ff;
    margin-top: 500px;
    position: fixed;
    padding: 2rem;
    overflow: hidden;
}

.modal img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.other-profile {
    margin-top: 5rem;
}
